// manrope font import
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

// colors
$Light-Cyan: hsl(193, 38%, 86%);
$Neon-Green: hsl(150, 100%, 66%);
$Grayish-Blue: hsl(217, 19%, 38%);
$Dark-Grayish-Blue: hsl(217, 19%, 24%);
$Dark-Blue: hsl(218, 23%, 16%);

// reset elements
html {
  box-sizing: border-box;
  font-size: 28px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $Dark-Blue;
}

.app {
  padding-inline: 0.5rem;
  width: min(475px, 92%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $Dark-Grayish-Blue;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 2px $Grayish-Blue;
  position: relative;

  @media (min-width: 576px) {
    & {
      padding-inline: 1rem;
    }
  }

  .app__title {
    margin-block: 0.8rem;
    color: $Neon-Green;
    font-size: 0.5em;

    @media (min-width: 576px) {
      & {
        margin-block: 1rem;
        font-size: 0.7em;
      }
    }
  }

  .app__advice {
    color: $Light-Cyan;
    text-align: center;
    font-size: 0.8em;
    font-family: "Manrope", sans-serif;

    @media (min-width: 576px) {
      & {
        font-size: 1em;
      }
    }
  }

  .app__divider {
    margin-block: 0.8rem 2rem;
    width: 100%;

    @media (min-width: 576px) {
      & {
        margin-block: 1rem 2rem;
      }
    }

    img {
      width: 100%;
      height: auto;
    }

    .mobile--divider {
      display: block;

      @media (min-width: 576px) {
        & {
          display: none;
        }
      }
    }

    .desktop--divider {
      display: none;

      @media (min-width: 576px) {
        & {
          display: block;
        }
      }
    }
  }

  .app--button {
    width: 2rem;
    height: 2rem;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: $Neon-Green;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow 500ms linear;

    &:hover {
      box-shadow: 0 0 15px 5px $Neon-Green;
    }

    &:after {
      content: "";
      width: 50%;
      height: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      background-image: url("./images/icon-dice.svg");
      background-size: cover;
      transform: translate(-50%, -50%);
      z-index: 100;
    }

    .sr-only {
      width: 1px;
      height: 1px;
      position: absolute;
      visibility: hidden;
    }
  }
}

.attribution {
  margin-top: 2rem;
  width: min(375px, 75%);
  color: $Light-Cyan;
  font-size: 0.4em;
  text-align: center;

  @media (min-width: 576px) {
    & {
      font-size: 0.6em;
    }
  }

  a {
    color: $Neon-Green;
    text-decoration: none;
  }
}
