@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

$Light-Cyan: hsl(193, 38%, 86%);
$Neon-Green: hsl(150, 100%, 66%);
$Grayish-Blue: hsl(217, 19%, 38%);
$Dark-Grayish-Blue: hsl(217, 19%, 24%);
$Dark-Blue: hsl(218, 23%, 16%);

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Manrope", sans-serif;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $Dark-Blue;
}

.container {
  position: relative;
  padding: 2.5rem;
  padding-bottom: 3.75rem;
  width: min(576px, 90%);
  background-color: $Dark-Grayish-Blue;
  border-radius: 1rem;
  text-align: center;

  @media (max-width: 576px) {
    & {
      padding: 2rem;
      padding-bottom: 3.25rem;
    }
  }

  .title {
    margin-bottom: 2rem;
    color: $Neon-Green;
    font-size: 0.925rem;
    letter-spacing: 6px;

    @media (max-width: 576px) {
      & {
        margin-bottom: 1.75rem;
      }
    }
  }

  .advice {
    color: $Light-Cyan;
    font-size: 1.75rem;
    text-align: center;
    line-height: 1.4;

    @media (max-width: 576px) {
      & {
        font-size: 1.625rem;
      }
    }
  }

  .divider {
    margin-top: 2rem;
    margin-inline: auto;

    @media (max-width: 576px) {
      & {
        margin-top: 1.75rem;
      }
    }

    img {
      width: 100%;
      height: auto;
      object-fit: fill;
    }

    .mobile {
      display: none;

      @media (max-width: 576px) {
        & {
          display: block;
        }
      }
    }

    .desktop {
      display: block;

      @media (max-width: 576px) {
        & {
          display: none;
        }
      }
    }
  }

  .action-button {
    position: absolute;
    bottom: -1.75rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 3.5rem;
    aspect-ratio: 1/1;
    background-color: $Neon-Green;
    border: none;
    border-radius: 50%;
    transition: box-shadow 500ms ease-in-out;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 15px 5px $Neon-Green;
    }

    &:after {
      content: "";
      width: 50%;
      height: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      background-image: url("../images/icon-dice.svg");
      background-size: cover;
      transform: translate(-50%, -50%);
      z-index: 100;
    }

    @media (max-width: 576px) {
      & {
        bottom: -1.5rem;
        width: 3rem;
      }
    }

    .sr-only {
      position: absolute !important;
      height: 1px;
      width: 1px;
      overflow: hidden;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px, 1px, 1px, 1px);
    }
  }
}
